@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    width: 100%;
}
/* .container{
    width: 100%;
    height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */
h2{
    display: block;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    color: transparent;
    font-size: 50px;
    margin: 0 auto;
}
h2 span{
    animation: animate 0.52s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
audio{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5vw;
    flex-wrap: wrap;
    width: 70%;
}

@keyframes animate {
    0%{
        color: white;
        filter: hue-rotate(0deg);
        text-shadow: 0 0 10px skyblue,
        0 0 20px skyblue,
        0 0 40px skyblue,
        0 0 80px skyblue,
        0 0 120px skyblue,
        0 0 200px skyblue,
        0 0 300px skyblue,
        0 0 400px skyblue;
    }
    30%, 70%{
        color: white;
        filter:  hue-rotate(360deg);
        text-shadow: 0 0 10px skyblue,
        0 0 20px skyblue,
        0 0 40px skyblue,
        0 0 80px skyblue,
        0 0 120px skyblue,
        0 0 200px skyblue;
    }
    100%{
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}

@media (min-width: 0px) and (max-width: 500px){
    h2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: black;
    }
    .res_mar2, .res_mar3{
        margin: none;
    }
}

@media (min-width: 500px) and (max-width: 752px){
    h2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: black;
    }
}

@media (min-width: 752px) and (max-width: 1080px){
    /* audio{
        display: flex;
        flex-direction: column;
    } */

    .res_mar2{
        margin-left: 5vw;
    }
    .res_mar3{
        margin-left: 5vw;
    }
}